In [16]:
import pandas as pd
from prophet import Prophet

ModuleNotFoundError: No module named 'prophet'

In [10]:
df = pd.read_csv("./raw_data/schoolingfertilitydataset.csv")
df

      Unnamed: 0      Country  Year  fertility Code  avg_years_of_schooling
0              0  Afghanistan  2007       6.56  AFG                     2.9
1              1  Afghanistan  1995       7.61  AFG                     1.9
2              2  Afghanistan  2008       6.37  AFG                     3.0
3              3  Afghanistan  2017       4.63  AFG                     3.8
4              4  Afghanistan  1994       7.57  AFG                     1.8
...          ...          ...   ...        ...  ...                     ...
5121        5121     Zimbabwe  2010       4.03  ZWE                     7.3
5122        5122     Zimbabwe  2000       3.75  ZWE                     6.5
5123        5123     Zimbabwe  2017       3.71  ZWE                     8.2
5124        5124     Zimbabwe  2002       3.72  ZWE                     6.9
5125        5125     Zimbabwe  2001       3.73  ZWE                     6.7

[5126 rows x 6 columns]

In [12]:

train = df.iloc[:176]
test = df.iloc[176:]

AttributeError: 'NoneType' object has no attribute 'drop'